* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'kinetika';
  src: url('kinetika-bold-italic.ttf');
}

body {
  margin: 0;
  /* font-family: system-ui, sans-serif; */
  color: black;
  background-color: #ebf5e0;
  font-family: 'kinetika';

}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #575563;;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration:none;
  color: #b5d99c;

  transition-duration: 0.2s;
  border: 2px solid #b5d99c00;
  border-radius: 0.6rem;
}

nav a:hover{
  border: 2px solid #b5d99c;
}

nav a[aria-current='page'] {
  color: #575563;
  background-color: #b5d99c;
  border: solid 1px #b5d99c;
  border-radius: 0.6rem;
}

main {
  padding: 1rem;
}

h1 span{
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  color: #b5d99c;
  text-shadow: 0 6px 20px rgba(0, 0, 0, 0.15) ;
  font-size: 40px;
}

button{
  background-color: #575563;
  border: none;
  color: #b5d99c;
  padding: 15px 32px;
  text-align: center;
  font-size: 23px;
  font-family: "kinetika";
  text-shadow: 0 6px 20px rgba(0, 0, 0, 0.15) ;
  border-radius: 2rem;
  transition-duration: 0.3s;

}

button:hover{
  background-color: #b5d99c;
  color: #575563;
  box-shadow: 5px 10px 9px rgba(0, 0, 0, 0.36);
}